{% extends 'base.html' %}
{% load static %}
{% block content %}



<div class="container p-4">
 
 <div class="form-group">
   <label for=""><b>Body</b></label>
   <textarea class="form-control" name="" id="txtdata" rows="3">Your ward is absent today</textarea>
   <div class="d-grid gap-2 py-3">
    <button class="btn btn-primary" type="button" id="smsbtn">Send SMS</button>
    <button class="btn btn-primary" type="button" id="callbtn">Call</button>
    
  </div>
  </div>

 <table class="table table-hover">
  <thead>
    <tr>
      <th scope="col"><input class="form-check-input" type="checkbox" id="selectall">&nbsp;Select all</th>
      <th scope="col">Name</th>
      <th scope="col">Roll no</th>
      <th scope="col">Class</th>
      <th scope="col">Section</th>
    </tr>
  </thead>
  <tbody>
    {% for stu in students %}    
    <tr>
      <th scope="row"><input class="form-check-input" type="checkbox" value="{{stu.id}}" id="user"></th>
      <td>{{stu.name}}</td>
      <td>{{stu.rollno}}</td>
      <td>{{stu.standard}}</td>
      <td>{{stu.section}}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
</div>

<script src="{% static 'sms/scripts/sms.js' %}?{% now 'U' %}"></script>
 

{% endblock %}