{% extends 'base.html' %}
{% load static %}
{% block content %}
<script src="{% static '/scanner/main.js' %}?{% now 'U' %}"></script>
<style>
     #indicate{
        opacity:0.8;
        background-color:rgb(54, 221, 82);
        position:fixed;
        width:100%;
        height:100%;
        top:0px;
        left:0px;
        z-index:1000;
        display: none;
          
         
      }
  .result{
    background-color: green;
    color:#fff;
    padding:20px;
  }
  .row{
    display:flex;
  }
</style>
<div id="indicate">

</div>


    <div id="reader"></div>
 
  
   
 

<script type="text/javascript">
function onScanSuccess(qrCodeMessage) {
    // document.getElementById('result').innerHTML = '<span class="result">'+qrCodeMessage+'</span>';
        try{
                $.ajax(
                    {
                        url: 'https://'+qrCodeMessage, 
                        success: function(result){
                                        if(result['success']=='True'){
                                        $('#indicate').fadeIn(1000)
                                        }
                                        // else{
                                        //   $('#indicate').css('background-color','yellow')
                                        //   $('#indicate').fadeIn(1000,function(){
                                        //   $(this).hide()
                                        
                                        // })

                                        // }
                                    },
                        fail: function(){

                          $('#indicate').css('background-color','red')
                                          $('#indicate').fadeIn(2000,function(){
                                          $(this).hide()
                                        
                                        })
                          
                        }
                                });         }
                                catch(err){
                                  $('#indicate').css('background-color','red')
                                          $('#indicate').fadeIn(2000,function(){
                                          $(this).hide()
                                          })
                                }
                
                
}

function onScanError(errorMessage) {
  
            
  $('#indicate').hide()

}

var html5QrcodeScanner = new Html5QrcodeScanner(
    "reader", { fps: 10, qrbox: 250 });
html5QrcodeScanner.render(onScanSuccess, onScanError);

</script>
{% endblock %}